@import "reset.css";
@import "fonts.css";

* {
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header, .panel, .timest{
  font-family: "Proxima Nova", sans-serif;
}
h3 {
  font-family: "PF Regal", serif;
}
body {
  background-color: rgb(242, 242, 242);
}
body > header {
  display: flex;

  height: 45px;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: #f2f2f2;
  background-color: rgb(38, 38, 38);

  font-size: 13px;

  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 100px;
  height: 45px;
  margin-top: -5px;
  margin-left: 25px;
}
body > header ul {
  display: flex;
}
body > header li {
  padding-right: 15px;
  font-weight: 600;
}
header ul {
  display: flex;

  justify-content: center;
  align-items: center;
}
.panel {
  position: relative;

  height: 45px;
  padding: 0 15px;
  padding-top: 15px;

  border-bottom: 1px solid #ccc;
  background-color: #fff;

  font-weight: 600;
}
.panel button{
  position: absolute;
  right: 0;
}
main {
  padding-top: 15px;
}
section.topStories {
  width: 70vw;
  margin: 0 auto;

  border: 1px solid #ccc;
  border-top: 4px solid #b88b58;
  background-color: #fff;
}
.topStories__header {
  margin-top: 15px;
  margin-left: 18px;

  letter-spacing: 0.4px;
  text-transform: uppercase;

  color: gray;

  font-size: 14px;
  font-weight: 600;
}
.container {
  display: flex;

  padding: 18px;
}
.boxStandart {
  position: relative;

  display: flex;
  flex-direction: column;
  /* align-content: space-between; */

  width: 50%;
  padding: 15px;

  font-weight: 400;

  align-items: flex-start;
}
.container > .boxStandart:first-of-type {
  padding-left: 0;
}
.contRighit {
  display: flex;

  width: 50%;
  margin-left: 20px;

  flex-wrap: wrap;
}
.boxStandart > h3 {
  font-size: 32px;
  line-height: 36px;
}
.contRighit > .boxStandart > h3 {
  padding-bottom: 12px;

  font-size: 20px;
  line-height: 21px;
}
.boxStandart > .timest {
  position: absolute;
  bottom: 0;

  color: #999;

  font-size: 12px;
}
