@import "reset.css";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header, .panel, .timest{
  font-family: Arial, sans-serif;
}
h3 {
  font-family: Georgia, serif;
}
body > header {
  display: flex;
  background-color: rgb(38, 38, 38);
  color: #f2f2f2;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  align-items: center;
  height: 45px;
}
.logo {
  margin-top: -5px;
  margin-left: 25px;
  width: 100px;
  height: 45px;
}
body > header ul {
  display: flex;
}
body > header li {
  padding-right: 15px;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
